@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* overflow: hidden; */
    background: linear-gradient(#b3feff, #ffdbfd);
}

header .logo {
    padding: 10px;
    padding-left: 30px;
    color: #7b8aff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header .text {
    padding-top: 10px;
    padding-bottom: 100px;
    padding: 5px;
    padding-left: 30px;
    color: #7b8aff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}