@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* overflow: hidden; */
    background: linear-gradient(#b3feff, #ffdbfd);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #7b8aff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header .logo img {
    margin-bottom: -17px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #7b8aff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #8fb8ff;
    color: #2b1055;
}

.border {
    display: inline-block;
    border: 2px solid #00aae3;
    border-radius: 20px;
    padding: 10px;
    margin-left: 200px;
    transform: translateY(38vh);
}

.borderyoutube {
    display: inline-block;
    border: 2px solid #00aae3;
    border-radius: 20px;
    padding: 10px;
    margin-left: -124px;
    transform: translateY(64vh);
}

.send {
    margin-left: -22vh;
    transform: translateY(90vh);
    border-radius: 20px;
    background: #fde6ff;
    border: 2px solid #be00e6;
    /* box-shadow: 25px 25px 75px #ffd9ff, 10px 10px 70px #ffd9ff, inset 5px 5px 10px #be00e6, inset 5px 5px 20px #be00f1, inset -5px -5px 15px rgba(0, 0, 0, 0.75); */
}

.send:hover {
    color: #ffc7ff;
    transition: 0.3s ease-out;
}

body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-rainbow-animation {
    font-family: arial black;
    font-size: 46px;
    background-image: linear-gradient(to right, #f5adbe, #16efe9, #f3f5a8, #b1f6e0, #c8e7f9, #aca8ff, #f6b6f2, #ffb1c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 215s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    position: relative;
    display: flex;
    gap: 25px;
}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

ul li:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

ul li:hover::before {
    opacity: 1;
}

ul li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

ul li:hover::after {
    opacity: 0.5;
}

ul li ion-icon {
    color: #777;
    font-size: 1.75em;
    transition: 0.5s;
    transition-delay: 0.25s;
}

ul li span {
    position: absolute;
}

ul li:hover ion-icon {
    transform: scale(0);
    color: #fff;
    transition-delay: 0s;
}

ul li .title {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;
}

@import url('https//fonts.googleeapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
    transition: 0.5s;
}

.darkMode {
    background: #222;
}

.box {
    position: relative;
    width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.darkMode .box {
    background: #292929;
}

.profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile .imgBx {
    position: relative;
    width: 50px;
    height: 50px;
    background: #f00;
    border-radius: 50%;
    overflow: hidden;
}

.profile .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile .text {
    font-weight: 500;
    color: #333;
    line-height: 1.2em;
    transition: 0.5s;
}

.darkMode .profile .text {
    color: #ddd;
}

.profile .text span {
    font-weight: 400;
    font-size: 0.85em;
    color: #555;
    transition: 0.5s;
}

.darkMode .profile .text span {
    color: #aaa;
}

.menu {
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.menu li {
    list-style: none;
    margin: 8px 0;
}

.menu li label {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu li label span {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    color: #777;
    transition: 0.5s;
}

.menu li label span ion-icon {
    margin-right: 10px;
}

.menu li label .action {
    position: relative;
}

.menu li label .action input {
    appearance: none;
}

.menu li label .action i {
    align-items: center;
    justify-content: center;
    /* position: relative; */
    width: 30px;
    height: 15px;
    background: #222;
    border-radius: 15px;
    transition: 0.5s;
}

.darkMode .menu li label .action i {
    background: #666;
}

.menu li label .action input:checked~i {
    background: #2aa0ff;
}

.menu li label .action i::before {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.menu li label .action input:checked~i::before {
    left: calc(100% - 12.5px);
}