* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    background: #ccc;
    border-radius: 20%;
}