.noborder {
	border: 0px solid white;
}


img {

	border: 2px solid gray;
	border-radius: 25px;
}


div {
	border: 2px solid gray;
	padding: 10px;
	border-radius: 50px 20px;
}

.main_container {
	display: grid;
	grid-template-columns: 2fr 8fr 3fr;
}

.leftside {

}

caret-color {
	color: green;
}

li {
	padding-bottom: 30px;
}



