img {

	border: 2px solid green;
	border-radius: 25px;
}

div {
	border: 2px solid green;
	padding: 10px;
	border-radius: 50px 20px;
}

.main_container {
	display: grid;
	grid-template-columns: 2fr 8fr 3fr;
}

.leftside {
	
}