* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    position: relative;
    display: flex;
    gap: 25px;
}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    background: #fff;
}