body {
    background-color: blanchedalmond;
}

hr {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}