div button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #F9423D;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

div button:hover {
    cursor: pointer;
    background-color: #337AF1;
    transition: all 0.4s ease-out;
}