button,
input[type="button"],
input[type="submit"],
.btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #F9423D;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
.btn:hover {
    cursor: pointer;
    background-color: #337AF1;
    transition: all 0.4s ease-out;
}
