* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: #fff;
}

header {
    width: 1280px;
    height: 68px;
    background: green;
}

.searchbox {
    padding-right: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    float: right;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.searchbox button {
    padding: 8px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}