@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&family=Edu+NSW+ACT+Foundation&Raleway:ital,wght@1,100&display=swap');

* {
    padding: 0;
    margin: 0;
   
}

body {
    background: #dbd031;
}

p {
    font-family: "Raleway", sans-serif;
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 630%;
    position: absolute;
    left: 1%;
    top: 20%;
}

.haed_line_main_text {
    position: absolute;
    display: inline;
    font-family: "Edu NSW ACT Foundation", sans-serif;
    font-size: 150%;
    left: 11%;
    top: 60%;
}

#head_line_div {
    position: absolute;
    width: 30%;
    height: 50%;
    left: 3%;
    top: 10%;
}

.logo {
    position: absolute;
    width: 30%;
    height: 60%;
    left: 60%;
    top: 20%;
    border-radius: 5%;
}