

header p {
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
}

header h1 {
	text-align: center;
	color: #666666;
}

	
}
section {
	background-color: #FFFFFF;
	margin-bottom: 24px;
	min-height: 320px;
	padding-left: 24px;
	padding-right: 24px;
}

footer p.copyright {
	float: left;
	margin-top: 0px;
}
footer p.contact {
	text-align: right;
}
img.small {
	float: left;
	height: 200px;
	margin-bottom: 24px;
	margin-right: 24px;
}
img.medium {
	max-width: 360px;
	width: 50%;
}
img.large {
	width: 100%;
}
body, section, img {
	border: 2px solid #B1B1B1;
	border-radius: 16px;
} 
article {
	float: left;
	width: 66%;
}
aside {
	float: left;
	padding-left: 24px;
	width: 34%;
}

footer {
	clear: both;
}
sup {


color: #00498c;

}