* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: #222;
}

.box {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 250px;
    width: 50px;
    height: 50px;
    background: #111;
    border-radius: 5px;
}

.box:hover {}

.icon {
    position: relative;
    margin: auto;
    margin-top: -50px;
    width: 50px;
    height: 50px;
    background: #111;
    opacity: 0;
    border-radius: 20px;
    transition: 0.5s;
}

.icon:hover {
    opacity: 1;
    margin: auto;
    margin-top: -127px;
    width: 200px;
    height: 200px;
}

.open {
    background: #222;
    border-radius: 7px;
}

.icon i {
    position: absolute;
    padding: 4px;
    margin-top: 5px;
    margin-left: 5px;
}

ion-icon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    transition: 0.5s;
}

ion-icon:hover {
    color: var(--i);
}