* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: #222;
}

ul {
    top: 0;
    left: 0;
    display: flex;
    position: relative;
}

ul li {
    top: 0;
    left: 0;
    padding: 10px;
    width: 100px;
    height: 50px;
    background: #375d23;
    justify-content: center;
    align-items: center;
    display: block;
}

ul li ion-icon {
    position: relative;
    color: #333;
    font-size: 4em;
}