h1 {
	text-align: center;
	color: white;
}
h2 {
	text-align: center;
	color: orangered;
}
h3 {
	text-align: center;
	color: powderblue;
}
h4 {
	text-align: center;
	color: yellow;
}
h5 {
	text-align: center;
	color: yellowgreen;
}
h6 {
	text-align: center;
	color: #928392;
}