* {
    padding: 0;
    margin: 0;
}

body {
    background: #222;
}

.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
    transition: 0.2s;
}

.box img:hover {
    border-radius: 20%;
}

div img {
    position: absolute;
    transform: translate(-50%, -50%);
}

.hover img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* overflow: hidden; */
    transition: 0.2s;
}


.hover img:hover {
    border-radius: 20%;
}

.hover i {
    position: absolute;
    left: 45%;
    top: 80%;
    display: inline;
    width: 10px;
    height: 10px;
    border-radius: 40%;
    border: #fff;
    background: #fff;
    transition: 0.2s;
}

.hover i:hover {
    width: 10px;
    height: 15px;
    border-radius: 30%;
}