body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(0,8,51,0.9), rgb(0,8,51,0.9)), url(/img/logo.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    /* animation: animate 1.5s linear infinite; */
    transition: 0.2s;
}

/* @keyframes animate {
    100%
    {
        filter: hue-rotate(360deg);
    }
} */

.pointer1 {
    transition: 0.05s;
}
.pointer2 {
    transition: 0.1s;
}
.pointer3 {
    transition: 0.15s;
}
.pointer4 {
    transition: 0.2s;
}
.pointer5 {
    transition: 0.25s;
}

.copy {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
}
