body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
    pointer-events: none;
    box-sizing: border-box;
    transition: 0.2s;
}

.pointer1 {
    transition: 0.05s;
}
.pointer2 {
    transition: 0.1s;
}
.pointer3 {
    transition: 0.15s;
}
.pointer4 {
    transition: 0.2s;
}
.pointer5 {
    transition: 0.25s;
}