<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">
    <!-- For more information on MicrosoftGame.config elements, please refer to online GDK documentation found at https://aka.ms/GDK_MSGC or the MicrosoftGame.config topic in the System section of the offline GDK documentation. -->
    <Identity Name="Microsoft.4297127D64EC6"
              Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
              Version="1.2.4.0" />
    <ExecutableList>
        <Executable Name="Minecraft.exe"
                    TargetDeviceFamily="PC"
                    IsDevOnly="false" />
        <!--          Name="YourProjectExeName" | The name of the target executable for the project. -->
        <!--          TargetDeviceFamily="XboxOne" Or "Scarlett" Or "PC" | TargetDeviceFamily specifies what device the executable was built for. -->
        <!--          IsDevOnly="false" | IsDevOnly specifies if is a Development only executable, -->
        <!--          OverrideDisplayName="Xbox Game Override" -->
        <!--          OverrideLogo="GraphicsLogoOverride.png" -->
        <!--          OverrideSquare44x44Logo="SmallLogoOverride.png" -->
        <!--          OverrideSplashScreenImage="SplashScreenOverride.png" -->
    </ExecutableList>
    <ShellVisuals DefaultDisplayName="Minecraft Launcher"
                  PublisherDisplayName="Microsoft Studios"
                  Square150x150Logo="GraphicsLogo.png"
                  Square44x44Logo="SmallLogo.png"
                  Description="Minecraft Launcher"
                  ForegroundText="light"
                  BackgroundColor="#171615"
                  SplashScreenImage="SplashScreen.png"
                  StoreLogo="StoreLogo.png" />
    <DesktopRegistration>
        <ProcessorArchitecture>x64</ProcessorArchitecture>
        <DependencyList>
            <KnownDependency Name="VC14"/>
        </DependencyList>
    </DesktopRegistration>
    <TitleId>6AF6E7CC</TitleId>
    <StoreId>9PGW18NPBZV5</StoreId>
    <MSAAppId>00000000402B5328</MSAAppId>
    <MSAFullTrust>true</MSAFullTrust>
    
    <!-- <TitleId>0A6D2730</TitleId>  | Required if the title is Xbox Live Enabled -->
    <!-- <StoreId>9NTL0QDWZ4FS</StoreId> | StoreID specifies the store identity of this title. Required in development so that commerce related APIs will function. -->
    <!-- <Resources> | Resources is a list of Language Locale pairs used to localize Shell Visuals. -->
    <!-- <Resource Language="en-us"/> -->
    <!-- <Resource Language="de-de"/> -->
    <!-- <Resource Language="es-mx"/> -->
    <!-- </Resources> -->
    <!-- <DevelopmentOnly> | DevelopmentOnly is a list of development-only properties. -->
    <!-- <DebugNetworkPortList> -->
    <!-- <DebugNetworkPort>4600</DebugNetworkPort> | DebugNetworkPort specifies an additional port to open for development on a Development Kit. -->
    <!-- </DebugNetworkPortList> -->
    <!-- </DevelopmentOnly> -->
    <!-- <PersistentLocalStorage> -->
    <!-- <SizeMB>322</SizeMB> | SizeMB specifies the size in MB of Persistent Local. -->
    <!-- </PersistentLocalStorage> -->
</Game>
